.app-container {
    .header-container {
      position: fixed;
      width: 100%;
      .navbar-nav {
        .nav-link {
            &.active {
                color: #00bfff;
            }
        }
      }
    
    }
}