.app-container {
    .header-container {
      position: fixed;
      width: 100%;
      z-index: 10;
      .navbar-nav {
        .nav-link {
            &.active {
                color: #00bfff;
            }
        }
      }
    .navbar {
      background-color: red;
    }
    }
}